.card {
    border-radius: 15px;
    overflow: hidden;
    transition: 0.4s;
    border: none;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.btn-primary {
    background-color: #000;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #333;
}
.card-footer {
    background-color: white;
    padding: 15px;
}
.product-image {
    height: 200px;
    object-fit: contain;
    padding: 10px;
    background-color: white;
}